/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp ESC    &kp SEMI   &kp COMMA  &kp DOT   &kp P      &kp Y       &kp F    &kp G      &kp C     &kp R  &kp L    &kp FSLH
&kp TAB    &kp A      &kp O      &kp E     &kp U      &kp I       &kp D    &kp H      &kp T     &kp N  &kp S    &kp BSLH
&kp LCTRL  &lt 1 SQT  &kp Q      &kp J     &kp K      &kp X       &kp B    &kp M      &kp W     &kp V  &lt 2 Z  &kp RSHFT
                                 &kp LGUI  &kp SPACE  &kp BSPC    &kp RET  &kp GRAVE  &kp RALT
            >;
        };

        left_upper {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans      &trans     &trans      &trans         &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans      &trans     &trans      &trans         &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &kp K_UNDO  &kp K_CUT  &kp K_COPY  &kp K_PASTE    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                            &trans     &trans      &trans         &trans  &kp N0  &trans
            >;
        };

        right_upper {
            bindings = <
&trans  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans    &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &trans      &trans        &trans        &trans        &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans      &trans        &trans        &trans        &trans    &trans  &trans    &trans    &trans     &trans  &trans
                                  &trans        &trans        &trans    &trans  &trans    &trans
            >;
        };

        QWERTY {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q  &kp W  &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O    &kp P     &trans
&trans  &kp A  &kp S  &kp D   &kp F   &kp G     &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &trans  &trans  &trans    &trans  &trans  &to 0
            >;
        };
    };
};
